<!-- mike -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Result | MWM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
    <div>
      <h1 class="your_result">Your Result</h1>
    </div>
    <main class="result_main">
      <div class="result_title">
        <% if (user.user_name) {%>
        <p class="result_title_greeting">Hello <%= user.user_name%></p>
        <% } else { %>
          <p class="result_title_greeting">Hello visitor </p>

          <% }%>
        <!-- <p class="result_title_greeting">Hello (visitor)</p> -->
      </div>
      <div class="result_box">
        <p class="result result_correct">
          You have answered these correctly. Keep it up!
        </p>
        <p class="result result_incorrect">
          You have answered wrong. Try again!
        </p>
      </div>

      <div class="user_answer_rate_box">
        <div class="user_answer_rate">
          <!-- if a visitor, don't need to check rate.
          if corrects 100%, not 0% -->
          <div class="user_answer_rate_label">
            Your Answer Rate :
          </div>
          <div class="rate_box">
            <!-- optional.. if rate is .... -->
            <p class="fairy rank">low rate</p>
            <!-- <p class="phoneixwing rank">average</p> -->
            <!-- <p class="phoneix rank">awesome</p> -->
            <div class="correct_rate_box">
              <p class="correct_rate">
                <p class="accuracy_icon correct_icon">
                                  <%= nums[0] %> / <%= nums[2] %>

                </p>
                Correct
              </p>
            </div>
            <div class="incorrect_rate_box">
              <p class="incorret_rate">
                <p class="accuracy_icon incorrect_icon">
                                  <%= nums[1] %> / <%= nums[2] %>

                </p>
                Wrong

              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

</html>
