<!-- moon -->
<!-- this is the individual quiz page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Individual Quiz | MWM</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <article class="quiestion_article_box">
      <h2>
        Question Number <%= `${oneQuiz.id}` %>
      </h2>

      <div class="quiestion_area">
        <!-- <h4 class="question_id">Question Number <%= `${oneQuiz.id}` %></h4> -->
        <h2 class="question_detail"><%= `${oneQuestion}` %></h2>
      </div>

      <form id="public-quiz-submit-form" data-id="<%= `${oneQuiz.id}` %>" method="POST" action="/users/login">
        <div>
          <textarea
            class="form-control public-input-answer"
            type="text"
            name="answerInput"
            placeholder="Fill out your answer. (all lower case)"
          ></textarea> 
        </div>
        <div class="btn">
          <button type="submit" class="question_submit_btn">Submit</button>
        </div>
      </form>
      <div class="public-answers"></div>
    </article>
  </body>
</html>
