<!-- mike -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Result | MWM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
    <div>
      <h1 class="your_result">Your Result</h1>
    </div>
    <main class="result_main">
      <div class="result_title">
        <% if (user.user_name) {%>
          <p class="result_title_greeting">Hello <%= user.user_name%>
          </p>
          <% } else { %>
            <p class="result_title_greeting">Hello visitor </p>
            <% }%>
      </div>
      <div class="result_box">
        <p class="result result_correct">
          You have answered these correctly. Keep it up!
        </p>
        <!-- <p class="result result_incorrect">
          You have answered wrong. Try again!
        </p> -->
      </div>

      <div class="user_answer_rate_box">
        <div class="user_answer_rate">
          <div class="user_answer_rate_label">
            Your Answer Rate :
          </div>
          <div class="rate_box">

            <!-- optional.. if rate is .... -->
            <% if (nums[0]/nums[2] < 0.4) { %>
            <p class="fairy rank"> </p>
            <% } else if (nums[0]/nums[2] > 0.8) { %>
              <p class="phoneix rank"></p>
            <% } else {%>
              <p class="phoneixwing rank"></p>
            <% } %>
            <div class="attempt_rate_box">
            <p class="attempt_rate">
            <p class="accuracy_icon attempt_icon">
              <%= nums[2] %> / <%= nums[4] %>
            </p>
            Attempts
            </p>
            </div>
            <div class="correct_rate_box">
              <p class="correct_rate">
              <p class="accuracy_icon correct_icon">
                <%= nums[0] %> / <%= nums[4] %>
              </p>
              Correct
              </p>
            </div>
            <div class="incorrect_rate_box">
              <p class="incorret_rate">
              <p class="accuracy_icon incorrect_icon">
                <%= nums[1] %> / <%= nums[4] %>
              </p>
              Wrong
              </p>
            </div>
          </div>
        </div>
      </div>
      <span class="history_box_title">Click to see Your latest attempts</span>
      <div class="history">

      <div class="history_box">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Attempt</th>
          </tr>
          <% for (const each of nums[3]) { %>
            <tr>
              <td><%= each.question %></td>
              <td><%= each.answer %></td>
              <td><%= each.user_answer %></td>
              <td>
                <% if (each.answer === each.user_answer) { %>
                  🟢
                <% } else { %>
                  💥
                <% } %>
              </td>
            </tr>
            <% } %>
          </table>
      </div>
    </div>
    </main>
    <div class="copyright">
      <footer>
        <span>&#169; 2022 MWM Quiz. All Rights Reserved | Made by Moon, Will, Mike at LHL</span>
      </footer>
    </div>

</html>
